/*
 * jQuery Basic Table
 * Author: Jerry Low
 * Slightly customized by RPC
 */

table.rt thead,
table.rt tbody th {
  display: none;
}

table.rt tfoot th,
table.rt tfoot td,
table.rt tbody td {
  border: none;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;

  /* IE 9 */
  float: left\9;
  width: 100%\9;
}

table.rt tfoot th::before,
table.rt tfoot td::before,
table.rt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}

table.rt tfoot th.rt-hide,
table.rt tfoot td.rt-hide,
table.rt tbody td.rt-hide {
  display: none;
}

table.rt tfoot th .rt-content,
table.rt tfoot td .rt-content,
table.rt tbody td .rt-content {
  vertical-align: top;
}

.rt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

table.rt.rt--no-header tfoot td::before,
table.rt.rt--no-header tbody td::before {
  display: none;
}